<!--<button (click)="onClick($event)"  >Add new</button>-->

<h1 id="my-header">My Component Header {{ myText + ' header'}}</h1>

<!--<input type="text" (keyup.enter)="onKeyup1($event)">-->
<!--<input type="text" #inp (keyup)="onKeyup2(inp.value)">-->
<!--<input type="text" [(ngModel)]="textOnKeyUp">-->

<!--<input type="text" [(ngModel)]="name">-->
<!--<input type="number" [(ngModel)]="year">-->
<!--<hr>-->
<!--<button (click)="addEventEmit()">Add Car</button>-->
<!--<p *ngIf="!pushed; else added">Car do not added</p>-->
<!--<ng-template #added>-->
  <!--<p>Car added</p>-->
<!--</ng-template>-->

<!--<app-carItem *ngFor="let carItem of cars; let idx = index"></app-carItem>-->

<!--<ul>-->
  <!--<li *ngFor="let item of items; let idx = index">-->
    <!--{{item.id}}-{{item.name}}-{{idx}}-->
  <!--</li>-->
<!--</ul>-->

<!--<p> {{ textOnClick }}</p>-->
<!--<p> {{ textOnKeyUp }}</p>-->
<!--<p>Name: {{name}}. year: {{year}}.</p>-->



