<div class="container" style="margin-top: 40px">
  <div class="row col-6">
    <p>{{ carsHeader | async }}</p>
    <app-add-car (addCar)="addCar($event)"></app-add-car>
    <h1
      [appTextColor]="{col1: 'red', col2: 'blue'}"
      #headerContent
      [directiveParam]="'Hi world'"
    >
      Header content: {{ get() }}
    </h1>
    <label>
      Search car:
      <input type="text" [(ngModel)]="searchName">
    </label>
    <hr>
    <input type="text" [(ngModel)]="carServName" class="form-control">
    <button type="button" (click)="addCarServ()">Add car to serv</button>
    <hr>
    <button class="btn btn-success" type="button" (click)="getCars()">Get Cars</button>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let carItem of cars2 | carFilter: searchName : 'name'">
        <app-car [car]="carItem">
          <!--<app-car *ngFor="let carItem of cars | carFilter: searchName : 'name'; let idx = index" [car]="carItem">-->
          <!--<h1 appTextColor="red" #headerContent [directiveParam]="'Hi world'">Header content:  {{ get() }}</h1>-->
        </app-car>
        <hr>
        <input type="text" [(ngModel)]="carServNameChange" class="form-control">
        <button class="btn-success btn" type="button" (click)="updateCarNameServ(carItem)">Update carName to serv</button>
        <button class="btn-danger btn" type="button" (click)="deleteCarServ(carItem.id)">Delete</button>
        <hr>
      </li>
    </ul>
    <!--<ul class="list-group">-->
      <!--<li class="list-group-item" *ngFor="let idx of nums" (click)="setNumber(idx)">-->
        <!--{{ idx | addText: 'my text pipe.' }}-->
      <!--</li>-->
    <!--</ul>-->
    <!--<div [ngSwitch]="number">-->
      <!--<p *ngSwitchCase="1">1</p>-->
      <!--<p *ngSwitchCase="2">2</p>-->
      <!--<p *ngSwitchDefault>def</p>-->
    <!--</div>-->
    <div class="alert alert-success">
      <strong>Success!</strong> Indicates a successful or positive action.
    </div>
  </div>
</div>
